<!-- {% load crispy_forms_tags %}
{% extends 'base.html' %}
{% block update %}
<head>
    <title>Update</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header text-white bg-success">
                        <div class="card-title">
                            Update Item
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <h4>{{ form }}</h4> <br>
                            <button class="btn-success" style="border-radius: 5px;" type="submit">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %} -->