{% extends 'base.html' %}
{% block login %}

<head>
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            {% for fm in form %}
                                {{ fm.label_tag }} {{ fm }} {{ fm.errors }} <br><br>
                            {% endfor %}
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
        </div>
    </div>

</body>
{% endblock %}